$bg-color: #FA8072;
$bg-color-dark: #E17366;
$animation-delay: 2s;
$breakpoint: 768px;

@font-face {
  font-family: "NexaBold";
  src: url('../Nexa/NexaDemo-Bold.eot');
  src: url('../Nexa/NexaDemo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../Nexa/NexaDemo-Bold.woff2') format('woff2'),
    url('../Nexa/NexaDemo-Bold.woff') format('woff'),
    url('../Nexa/NexaDemo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "NexaLight";
  src: url('../Nexa/NexaDemo-Light.eot');
  src: url('../Nexa/NexaDemo-Light.eot?#iefix') format('embedded-opentype'),
    url('../Nexa/NexaDemo-Light.woff2') format('woff2'),
    url('../Nexa/NexaDemo-Light.woff') format('woff'),
    url('../Nexa/NexaDemo-Light.ttf') format('truetype');
}

@keyframes load {
    0% {
      background-color: white;
    }

    100% {
      background-color: $bg-color;
    }
}

@keyframes changeBgColor {
  0% {
    background-color: rgba($bg-color, 1);
  }
  25% {
    background-color: rgba($bg-color, 0.9);
  }
  75% {
    background-color: rgba($bg-color-dark, 1);
  }
  100% {
    background-color: rgba($bg-color, 1);
  }
}

@import "normalize",
        "main";
